@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


:root{
    --BLUE: hsl(246, 80%, 60%);
    --DARKBLUE: hsl(235, 46%, 20%);
    --DESATURATEDBLUE: hsl(235, 45%, 61%);
    --EXERCISECOLOR: hsl(145, 58%, 55%);
    --FF: 'Rubik', sans-serif;
    --FS: 18px;
    --PALEBLUE: hsl(236, 100%, 87%);
    --PLAYCOLOR: hsl(195, 74%, 62%);
    --SELFCARECOLOr: hsl(43, 84%, 65%);
    --SOCIALCOLOR: hsl(264, 64%, 52%);
    --STUDYCOLOR: hsl(348, 100%, 68%);
    --VERYDARKBLUE: hsl(226, 43%, 10%);
    --WORKCOLOR: hsl(15, 100%, 70%);
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--VERYDARKBLUE);
    color: white;
    display: grid;
    font-family: var(--FF);
    min-height: 100vh;
    place-items: center;
}

.app--container{
    margin-block: 70px;
}

.report--container{
    max-width: 335px;
}

.account--container{
    align-items: center;
    background-color: var(--BLUE);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 60%;
    justify-content: center;
    padding: 30px 20px;
}

.account--name{
    font-weight: lighter;
    font-size: 1.7rem;
    white-space: nowrap;
}

.account--container > img {
    border-radius: 50%;
    border: 3px solid white;
    width: 60px;
}

.periodical--lists{
    background-color: var(--DARKBLUE);
    border-radius: 0 0 10px 10px;
    color: var(--DESATURATEDBLUE);
    cursor: pointer;
    display: flex;
    height: 40%;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
}

.periodical--lists > li:hover, .periodical--lists > li:focus  {
    color: white;
}

.activity--container{
    margin-top: 20px;
    max-width: 335px;
    min-height: 160px;
    overflow: hidden;
    position: relative;
}

.activity--icon--container{
    background-color: var(--WORKCOLOR);
    border-radius: 10px 10px 0 0 ;
    height: 60px;
    position: absolute;
    width: 100%;
}

.activity--icon--container > img{
   position: absolute;
   right: 20px;
   top: -10px;
}

.activity--details--container{
    align-items: end;
    background-color: var(--DARKBLUE);
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 50px;
    width: 100%;
}

.activity--details--container:hover{
   background-color: var(--DESATURATEDBLUE);
}

.activity--details--container > div{
    width: 100%;
}

.activity--details--container > img {
    cursor: pointer;
}

.activity--title{
    text-align: left;
}

.activity--hour{
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: lighter;
}

.activity--previous--hour{
    color: var(--PALEBLUE);
    font-size: .9rem;
    text-align: right;
}

.icon--ellipsis{
    position: absolute;
    right: 20px;
    top: 35px;
}

.attribution{
    color: var(--DESATURATEDBLUE);
    font-size: .7rem;
    margin-top: 40px;
    text-align: center;
}

.attribution > a {
    color: var(--PALEBLUE);
}

@media (min-width: 50em){
    .main--container{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4,1fr);
        margin-inline: 20px;

    }
    .report--container{
        grid-row: 1/span 2;
        max-width: 250px;
    }

    .account--container{
        align-items: start;
        flex-direction: column;
        gap: 30px;
        justify-content: start;
    }

    .account--name{
        font-size: 2.5rem;
        white-space: inherit;
    }

    .account--container > img{
        width: 70px;
    }

    .periodical--lists{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .activity--container{
        margin: 0;
        max-width: 250px;
        min-height: 250px;
    }

    .activity--details--container{
        align-items: start;
        flex-direction: column;
    }

    .activity--hour{
        margin-top: 30px;
    }

    .activity--previous--hour{
        text-align: left;
    }
}