@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


:root{
    --FF: 'Rubik', sans-serif;
    --FS: 18px;
    --BLUE: hsl(246, 80%, 60%);
    --WORKCOLOR: hsl(15, 100%, 70%);
    --PLAYCOLOR: hsl(195, 74%, 62%);
    --STUDYCOLOR: hsl(348, 100%, 68%);
    --EXERCISECOLOR: hsl(145, 58%, 55%);
    --SOCIALCOLOR: hsl(264, 64%, 52%);
    --SELFCARECOLOr: hsl(43, 84%, 65%);
    --VERYDARKBLUE: hsl(226, 43%, 10%);
    --DARKBLUE: hsl(235, 46%, 20%);
    --DESATURATEDBLUE: hsl(235, 45%, 61%);
    --PALEBLUE: hsl(236, 100%, 87%);
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--FF);
    background-color: var(--VERYDARKBLUE);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.report--container{
    max-width: 335px;

}

.account--container{
    background-color: var(--BLUE);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 20px;
    border-radius: 10px 10px 0 0;
    color: var(--DESATURATEDBLUE);
}

.account--name{
    color: var(--PALEBLUE);
    font-size: 1.7rem;
    white-space: nowrap;
}

.account--container > img {
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

.periodical--lists{
    background-color: var(--DARKBLUE);
    display: flex;
    border-radius: 0 0 10px 10px;
    list-style: none;
    justify-content: space-between;
    color: var(--DESATURATEDBLUE);
    padding: 20px;
    cursor: pointer;
}

.periodical--lists > li:hover {
    color: var(--PALEBLUE);
}

